# Package Managers
pnpm-lock.yaml
package-lock.json
yarn.lock
bun.lock
bun.lockb

# Dependencies
node_modules

# Build Output
dist
build
.svelte-kit
.turbo
coverage

# Miscellaneous
.husky
temp
.DS_Store
